.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 134px;
  margin: 366px 570px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 2rem;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 970px;
}

.u-section-2 .u-list-1 {
  width: 357px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 78px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-1 {
  margin-top: -5px;
  margin-bottom: 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-1 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-2 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-3 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-4 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-5 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-6 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-7 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-8 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-9 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-10 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-11 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-12 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-13 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-14 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-15 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-16 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-17 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-18 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-19 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-20 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-21 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-22 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-23 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-24 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-25 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-26 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-27 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-28 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-29 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-30 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-31 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-32 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-33 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-34 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-35 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-36 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-37 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-38 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-39 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-40 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-41 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-42 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-43 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-44 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-45 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-46 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-47 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-48 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-49 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-50 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-51 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-52 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-53 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-54 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-55 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-56 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-57 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-58 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-59 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-60 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-table-cell-61 {
  margin-left: 0;
  margin-right: 990px;
}

.u-section-2 .u-table-cell-62 {
  margin-left: 150px;
  margin-right: 758px;
}

.u-section-2 .u-table-cell-63 {
  margin-left: 382px;
  margin-right: 568px;
}

.u-section-2 .u-table-cell-64 {
  margin-left: 572px;
  margin-right: 459px;
}

.u-section-2 .u-table-cell-65 {
  margin-left: 681px;
  margin-right: 188px;
}

.u-section-2 .u-table-cell-66 {
  margin-left: 952px;
  margin-right: 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 21px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-btn-2 {
    padding: 0;
  }

  .u-section-2 .u-btn-3 {
    padding: 0;
  }

  .u-section-2 .u-table-cell-1 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-3 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-4 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-6 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-7 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-9 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-10 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-12 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-13 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-15 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-16 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-19 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-21 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-22 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-24 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-25 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-27 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-28 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-30 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-31 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-33 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-34 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-36 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-37 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-38 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-39 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-40 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-41 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-42 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-43 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-44 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-45 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-46 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-47 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-48 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-49 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-50 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-51 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-52 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-53 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-54 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-55 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-56 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-57 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-58 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-59 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-60 {
    margin-left: 788px;
  }

  .u-section-2 .u-table-cell-61 {
    margin-right: 820px;
  }

  .u-section-2 .u-table-cell-62 {
    margin-left: 120px;
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-63 {
    margin-left: 308px;
    margin-right: 477px;
  }

  .u-section-2 .u-table-cell-64 {
    margin-left: 463px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-65 {
    margin-left: 569px;
    margin-right: 152px;
  }

  .u-section-2 .u-table-cell-66 {
    margin-left: 788px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 234px;
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-table-cell-1 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-3 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-4 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-6 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-7 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-9 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-10 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-12 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-13 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-15 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-16 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-19 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-21 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-22 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-24 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-25 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-27 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-28 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-30 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-31 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-33 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-34 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-36 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-37 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-38 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-39 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-40 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-41 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-42 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-43 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-44 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-45 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-46 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-47 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-48 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-49 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-50 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-51 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-52 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-53 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-54 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-55 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-56 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-57 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-58 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-59 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-60 {
    margin-left: 611px;
  }

  .u-section-2 .u-table-cell-61 {
    margin-right: 632px;
  }

  .u-section-2 .u-table-cell-62 {
    margin-left: 88px;
    margin-right: 490px;
  }

  .u-section-2 .u-table-cell-63 {
    margin-left: 230px;
    margin-right: 371px;
  }

  .u-section-2 .u-table-cell-64 {
    margin-left: 349px;
    margin-right: 265px;
  }

  .u-section-2 .u-table-cell-65 {
    margin-left: 455px;
    margin-right: 109px;
  }

  .u-section-2 .u-table-cell-66 {
    margin-left: 611px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-table-cell-1 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-3 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-4 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-6 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-7 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-9 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-10 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-12 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-13 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-15 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-16 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-19 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-21 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-22 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-24 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-25 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-27 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-28 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-30 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-31 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-33 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-34 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-36 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-37 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-38 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-39 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-40 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-41 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-42 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-43 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-44 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-45 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-46 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-47 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-48 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-49 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-50 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-51 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-52 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-53 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-54 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-55 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-56 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-57 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-58 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-59 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-60 {
    margin-left: 477px;
  }

  .u-section-2 .u-table-cell-61 {
    margin-right: 456px;
  }

  .u-section-2 .u-table-cell-62 {
    margin-left: 84px;
    margin-right: 350px;
  }

  .u-section-2 .u-table-cell-63 {
    margin-left: 190px;
    margin-right: 244px;
  }

  .u-section-2 .u-table-cell-64 {
    margin-left: 296px;
    margin-right: 138px;
  }

  .u-section-2 .u-table-cell-65 {
    margin-left: 402px;
    margin-right: 63px;
  }

  .u-section-2 .u-table-cell-66 {
    margin-left: 477px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-table-cell-1 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-2 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-3 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-4 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-5 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-6 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-7 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-8 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-9 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-10 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-11 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-12 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-13 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-14 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-15 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-16 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-17 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-18 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-19 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-20 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-21 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-22 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-23 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-24 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-25 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-26 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-27 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-28 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-29 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-30 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-31 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-32 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-33 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-34 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-35 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-36 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-37 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-38 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-39 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-40 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-41 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-42 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-43 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-44 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-45 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-46 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-47 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-48 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-49 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-50 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-51 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-52 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-53 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-54 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-55 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-56 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-57 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-58 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-59 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-60 {
    margin-left: 454px;
  }

  .u-section-2 .u-table-cell-61 {
    margin-right: 422px;
  }

  .u-section-2 .u-table-cell-62 {
    margin-right: 316px;
  }

  .u-section-2 .u-table-cell-63 {
    margin-right: 210px;
  }

  .u-section-2 .u-table-cell-64 {
    margin-right: 104px;
  }

  .u-section-2 .u-table-cell-65 {
    margin-right: 52px;
  }

  .u-section-2 .u-table-cell-66 {
    margin-left: 454px;
  }
}