@charset "UTF-8";

 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("/images/93d2c32227056d32ff2a63630b00822fed494a7da6d3601f583288d06255b5cbad256d6042b2a6de821a710f0503d4a0feede1988b496a0cd1eadc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 479px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 0px;
  text-transform: none;
  margin: 114px 0 0 570px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  width:200px;
  letter-spacing: 0px;
  margin-bottom:-3%;
}
.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 21px 0 0 510px;
}


@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-1 .u-text-1 {
    font-family: Arial, sans-serif;
  }

  .u-section-1 .u-text-2 {
    margin-left: 310px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.49% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 470px;
}

.u-section-2 .u-text-1 {
  font-weight: bold;
  font-size: 3.75rem;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 232px;
  margin: 34px auto 0px -15px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 30px;
  min-height: 300px;
  display: flex;
  margin-left:-15%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 15px 14px;
}

.u-section-2 .u-image-1 {
  height: 192px;
  width: 192px;
  background-position: 50% 50%;
  margin: 9px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 100;
  font-size : 1rem;

}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-table-1 {
  margin-top: -25px;
  margin-bottom: 60px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 50px;
  font-weight: 400;
  font-size:0.8rem;
}
.u-section-3 .u-text-1 {
  margin: 30px auto 60px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 300;
  background-image: none;
}



input[type="submit"]{
	border:1px solid #fff;
	background-color:#000;
	color:#fff;
	border-radius:10px;
	padding:5px;
} 
input[type="submit"]:hover{
	color:#000;
	border:1px solid #000;
	background-color:white;
}
input[type="text"]{
	 width:200px;
 	 height:20px;
  	 font-size:15px;
  	 background-color:#fff;  	 
  	 border-right:0px; 
  	 border-top:0px; 
  	 border-left:0px;
  	 border-bottom:2px solid #000;
  	 text-align:center; 
}
input[type="text"]:focus {outline:none;}
select{
	border:2px solid #000;
	border-radius:10px;
	padding:5px;
}
option{
	color:#fff;
	background-color:#000;
}