@charset "UTF-8";
#header
{ background-color: yellow; width : 100%; height : 50px}

#nav
{background-color: red; width:30%; height:100px; float:left} /*같은줄에 나와야 된다면 float*/

#content
{background-color: blue; width:70%; height:100px; float: right}

#footer
{background-color: aqua; width: 100%; height: 50px; clear:both} /*float취소시키기는 clear*/