<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.project.dao.BoardDao">

	<insert id="insert" parameterType="springboot.project.dto.BoardDto">
		insert into communityboard(no,
		memberid, title, content, regdate, cate, readcount, recommend)
		values(communityboard_seq.nextval, #{memberid}, #{title},
		#{content}, sysdate, #{cate}, 0, 0)
	</insert>

	<update id="updateBoard" parameterType="springboot.project.dto.BoardDto">
		update communityboard set title=#{title}, content=#{content}, cate=#{cate} where no=#{no}
	</update>

	<delete id="deleteBoard" parameterType="int">
		delete from communityboard where no = #{no}
	</delete>

	<select id="boardList" parameterType="map" resultType="springboot.project.dto.BoardDto">
		<![CDATA[
		select * from
		(select no, memberid, title, content, regdate, readcount, recommend, cate, rownum r
		from (select * from communityboard order by regdate desc)
		order by regdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="count" resultType="int">
		select count(*) from communityboard
	</select>

	<select id="boardOne" parameterType="int" 
					resultType="springboot.project.dto.BoardDto">
		select * from communityboard where no = #{no}
	</select>

	<select id="countSearch" resultType="int" parameterType="map">
		select count(*) from communityboard 
		<where>
			<choose>
				<when test="searchn == 0">
				title  like '%'||#{search}||'%' </when>
				<when test="searchn == 1"> content  like '%'||#{search}||'%'</when>
				<when test="searchn == 2"> memberid  like '%'||#{search}||'%' </when>
				<when test="searchn == 3"> title like '%'||#{search}||'%' or content like '%'||#{search}||'%'</when>
			</choose>
		</where> 
</select>

<select id="boardListSearch" parameterType="map" resultType="springboot.project.dto.BoardDto">
		
		select * from
		(select no, memberid,title, content, regdate, readcount, recommend, cate, rownum r
		from (select * from communityboard order by regdate desc) 
		<where>
			<choose>
				<when test="searchn == 0">
				title like '%'||#{search}||'%'</when>
				<when test="searchn == 1"> content like '%'||#{search}||'%' </when>
				<when test="searchn == 2"> memberid like '%'||#{search}||'%' </when>
				<when test="searchn == 3"> title like '%'||#{search}||'%' or content like '%'||#{search}||'%'</when>
			</choose>
		</where> 
		order by regdate desc) where r >= #{start} AND r &lt;= #{end}
 		
	</select>

	<update id="addReadcount" parameterType="int">
		update communityboard set readcount = readcount+1 where no = #{no}
	</update>
	
	<select id="recommendCount" parameterType="map" resultType="int">
		select count(*) from recommend where no = #{no} and memberid = #{memberid}
	</select>

	<update id="addRecommend" parameterType="int">
		update communityboard set recommend = recommend+1 where no = #{no}
	</update>

	<insert id="recommend" parameterType="springboot.project.dto.RecommendDto">
		insert into recommend(recmno,memberid,no,status,recmdate) values(recommend_seq.nextval, #{memberid}, #{no}, 1, sysdate)
	</insert>
	
	<select id="bBList" parameterType="map" resultType="springboot.project.dto.BoardDto">
		<![CDATA[
		select * from
		(select no, memberid, title, content, regdate, readcount, recommend, cate, rownum r
		from (select * from communityboard where recommend >= 3 order by regdate desc)
		order by regdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="bBListSearch" parameterType="map" resultType="springboot.project.dto.BoardDto">
		
		select * from
		(select no, memberid,title, content, regdate, readcount, recommend, cate, rownum r
		from (select * from communityboard where recommend >= 3 order by regdate desc) 
		<where>
			<choose>
				<when test="searchn == 0">
				title like '%'||#{search}||'%'</when>
				<when test="searchn == 1"> content like '%'||#{search}||'%' </when>
				<when test="searchn == 2"> memberid like '%'||#{search}||'%' </when>
				<when test="searchn == 3"> title like '%'||#{search}||'%' or content like '%'||#{search}||'%'</when>
			</choose>
		</where> 
		order by regdate desc) where r >= #{start} AND r &lt;= #{end}
 		
	</select>
	
	<select id="bBcount" resultType="int">
		select count(*) from communityboard where recommend >= 3
	</select>
	
	
	<select id="bBcountSearch" resultType="int" parameterType="map">
		select count(*) from communityboard 
		<where>
			recommend >= 3 and
			<choose>
				<when test="searchn == 0">
				title  like '%'||#{search}||'%' </when>
				<when test="searchn == 1"> content  like '%'||#{search}||'%'</when>
				<when test="searchn == 2"> memberid  like '%'||#{search}||'%' </when>
				<when test="searchn == 3"> title like '%'||#{search}||'%' or content like '%'||#{search}||'%'</when>
			</choose>
		</where> 
	</select>

	
	<select id="bdata" parameterType="int" resultType="springboot.project.dto.FileDto">
		select * from bfile where no = #{no}
	</select>
	
	<insert id="uploadimg" parameterType="springboot.project.dto.FileDto">
		insert into bfile values(bfile_seq.nextval, communityboard_seq.currval, #{imgoriname}, #{imgpath}, #{imgsize})
	</insert>
	
	
	<select id="boarddata" parameterType="int" resultType="springboot.project.dto.FileDto">
		select * from bfile where no = #{no}
	</select>
	

	<delete id="deleteFile" parameterType="int">
		delete from bfile where no = #{no}
	</delete>
	
	<insert id="updatefile" parameterType="springboot.project.dto.FileDto">
		insert into bfile values(bfile_seq.nextval, #{no}, #{imgoriname}, #{imgpath}, #{imgsize})
	</insert>
	
	<select id="cateList" parameterType="map" resultType="springboot.project.dto.BoardDto">
		<![CDATA[
		select * from
		(select no, memberid, title, content, regdate, readcount, recommend, cate, rownum r
		from (select * from communityboard where cate=#{cate} order by regdate desc)
		order by regdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="countCate"  parameterType="String" resultType="int">
		select count(*) from communityboard where cate=#{cate}
	</select>
	
	<select id="cateListSearch" parameterType="map" resultType="springboot.project.dto.BoardDto">
		
		select * from
		(select no, memberid,title, content, regdate, readcount, recommend, cate, rownum r
		from (select * from communityboard where cate=#{cate} order by regdate desc) 
		<where>
			<choose>
				<when test="searchn == 0">
				title like '%'||#{search}||'%'</when>
				<when test="searchn == 1"> content like '%'||#{search}||'%' </when>
				<when test="searchn == 2"> memberid like '%'||#{search}||'%' </when>
				<when test="searchn == 3"> title like '%'||#{search}||'%' or content like '%'||#{search}||'%'</when>
			</choose>
		</where> 
		order by regdate desc) where r >= #{start} AND r &lt;= #{end}
 		
	</select>
	
	<select id="cateCountSearch" resultType="int" parameterType="map">
		select count(*) from communityboard   
		<where>
			cate=#{cate} and
			<choose>
				<when test="searchn == 0">
				title  like '%'||#{search}||'%' </when>
				<when test="searchn == 1"> content  like '%'||#{search}||'%'</when>
				<when test="searchn == 2"> memberid  like '%'||#{search}||'%' </when>
				<when test="searchn == 3"> title like '%'||#{search}||'%' or content like '%'||#{search}||'%'</when>
			</choose>
		</where> 
	</select>

</mapper>
