<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.project.dao.MemberDao">
   
   <insert id="insertMember" parameterType="springboot.project.dto.MemberDto">
   		insert into member values(#{memberid}, #{memberpw}, #{name}, #{phone}, #{address}, #{gender}, #{birthday}, #{email}, #{pet})
   </insert>
   
   <delete id="deleteMember" parameterType="map">
      delete from member where memberid = #{memberid} and memberpw = #{memberpw}
   </delete>
   
   <select id="countFood" resultType="springboot.project.dto.FoodCountDto">
   		select count(*) as count ,fsfood from fsboard group by fsfood
   </select>
   
   <select id="userCount" parameterType="map" resultType="int">
   		select count(*) from member where memberid = #{memberdid} and memberpw = #{memberpw}
   </select>
   
   <select id="login" parameterType="map" resultType="springboot.project.dto.MemberDto">
     select * from member where memberid=#{memberid} and memberpw=#{memberpw}
    </select>
    
    <select id="idChk" parameterType="String" resultType="String">
	select memberid from member where memberid =#{memberid}
</select>

	<select id="findId" parameterType="springboot.project.dto.MemberDto" resultType="springboot.project.dto.MemberDto">
		select memberid from member where name=#{name} and email=#{email}
	</select>
	
	<select id="findPw" parameterType="springboot.project.dto.MemberDto" resultType="springboot.project.dto.MemberDto">
		select * from member where memberid=#{memberid} and name=#{name} and email=#{email}
	</select>
	
	<select id="myBoard" parameterType="String" resultType="springboot.project.dto.MypageDto">
		select * from (
    		select no as no, title as title, regdate as regdate from communityboard where memberid = #{memberid}
    		union all
    		select fsno as no, fstitle as title, regdate as regdate from fsboard where memberid = #{memberid}
    		union all
    		select pno as no, ptitle as title, pregdate as regdate from petcareboard where memberid = #{memberid}
    		union all
   			select roomno as no, roomtitle as title, roomregdate as regdate from roomshare where memberid = #{memberid}
    		) order by regdate desc
	</select>
	
	<select id="myComm" parameterType="String" resultType="springboot.project.dto.MypageCommDto">
		select * from (
    		select no as no, ccontent as ccontent, regdate as regdate from communitycomment where memberid = #{memberid}
    		union all
    		select fsno as no, FSCCONTENT as ccontent, regdate as regdate from fscomment where memberid = #{memberid}
    		union all
    		select pno as no, PCCONTENT as ccontent, PCREGDATE as regdate from petcarecomment where memberid = #{memberid}
    		union all
    		select ROOMNO as no, RSCONTENT as ccontent, RSDATE as regdate from roomsharecomment where memberid = #{memberid}
    		) order by regdate desc
	</select>
	
	<select id="roomCount" parameterType="String" resultType="int">
		select count(*) from roomshare where memberid=#{memberid}
	</select>
	
	<select id="myRoomList" parameterType="map" resultType="springboot.project.dto.RoomDto">
		<![CDATA[
		select * from (select roomno, memberid, roomtitle, roomaddress, roomcontent, roomregdate, roomperiod, roomphone, roomdate, roomcno, roomstate,rownum r from (select * from roomshare where memberid = #{memberid} order by roomregdate desc) order by roomregdate desc) where r >= #{start} AND r <= #{end}
		]]>
	</select>
	
	<select id="boardCount" parameterType="String" resultType="int">
		select count(*) from communityboard where memberid=#{memberid}
	</select>
	
	<select id="myBoardList" parameterType="map" resultType="springboot.project.dto.BoardDto">
		<![CDATA[
		select * from
		(select no, memberid, title, content, regdate, readcount, recommend, rownum r
		from (select * from communityboard where memberid =#{memberid} order by regdate desc)
		order by regdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="mainRomm" resultType="springboot.project.dto.RoomDto">
		select * from(select* from roomshare order by rownum desc) where <![CDATA[rownum <= 3]]>  
	</select>
	
	<select id="mainFood" resultType="springboot.project.dto.FsboardDto">
		select * from(select* from fsboard order by rownum desc) where <![CDATA[rownum <= 3]]>  
	</select>
	
	<select id="mainGroupBuy" resultType="springboot.project.dto.GroupBuyingDto">
		select * from(select* from groupbuying order by rownum desc) where <![CDATA[rownum <= 3]]>  
	</select>
	
	<select id="mainPet" resultType="springboot.project.dto.PetcareDto">
		select * from(select* from petcareboard order by rownum desc) where <![CDATA[rownum <= 3]]>  
	</select>
	
	<select id="petCount" parameterType="String" resultType="int">
		select count(*) from petcareboard where memberid=#{memberid}
	</select>
	
	<select id="myPetList" parameterType="map" resultType="springboot.project.dto.PetcareDto">
		<![CDATA[
		select * from
 		(select pno, memberid, pkind, pperiod, pprice, pcontent, pregdate, paddress, pcount, pphone, ptitle, rownum r
		 from (select * from petcareboard where memberid = #{memberid} order by pno desc)
		 order by pno desc)where r >= #{start} AND r <= #{end}
		]]>
	</select>
	
	<select id="fsCount" parameterType="String" resultType="int">
		select count(*) from fsboard where memberid=#{memberid}
	</select>
	
	<select id="myFsboardList" parameterType="map" resultType="springboot.project.dto.FsboardDto">
		<![CDATA[
		select * from
		(select fsno, memberid, fstitle, fscontent, regdate, fsreadcount, rownum r
		from (select * from fsboard where memberid = #{memberid} order by regdate desc)
		order by regdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="roomCommCount" parameterType="String" resultType="int">
		select count(*) from roomsharecomment where memberid=#{memberid}
	</select>
	
	<select id="myRoomComm" parameterType="map" resultType="springboot.project.dto.RoomCommentDto">
		<![CDATA[
		select * from
		(select roomno, memberid, rscontent, rsno, rsdate, rersno, rownum r
		from (select * from roomsharecomment where memberid =#{memberid} order by rsdate desc)
		order by rsdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="boardCommCount" parameterType="String" resultType="int">
		select count(*) from communitycomment where memberid=#{memberid}
	</select>
	
	<select id="myBoardComm" parameterType="map" resultType="springboot.project.dto.CommDto">
		<![CDATA[
		select * from
		(select no, memberid, ccontent, regdate, cno, recno, rownum r
		from (select * from communitycomment where memberid =#{memberid} order by regdate desc)
		order by regdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="fsCommCount" parameterType="String" resultType="int">
		select count(*) from fscomment where memberid=#{memberid}
	</select>
	
	<select id="myFsComm" parameterType="map" resultType="springboot.project.dto.FscommDto">
		<![CDATA[
		select * from
		(select fscno, memberid, fsccontent, fsdate, fsno, rownum r
		from (select * from fscomment where memberid =#{memberid} order by fsdate desc)
		order by fsdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<select id="petCommCount" parameterType="String" resultType="int">
		select count(*) from petcarecomment where memberid=#{memberid}
	</select>
	
	<select id="myPetComm" parameterType="map" resultType="springboot.project.dto.PetcommentDto">
		<![CDATA[
		select * from
		(select pno, memberid, pccontent, pcregdate, pcno, rownum r
		from (select * from petcarecomment where memberid =#{memberid} order by pcregdate desc)
		order by pcregdate desc)where r >= #{start} AND r <= #{end}
 		]]>
	</select>
	
	<update id="updatePw" parameterType="springboot.project.dto.MemberDto">
		update member set memberpw=#{memberpw} where memberid = #{memberid}
	</update>
   
   <update id="updateMember" parameterType="springboot.project.dto.MemberDto">
   update member set memberpw=#{memberpw}, name=#{name},phone=#{phone},address=#{address},birthday=#{birthday},pet=#{pet}
   where memberid=#{memberid}
   </update>
   
   
 
 
 
</mapper>